<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Dziennik Hodowli</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </meta>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.js"></script>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />

</head>

<body>
<div th:include="header :: header"></div>

<div class="container">

    <form action="#" th:action="@{/addcopulation}" th:object="${copulationForm}" method="post">


            <div class="container">
                <div class="col-sm-4">
                </div>
            <div class="row">


                    <div class="form-group" >
                        <!--<label for="copulationDate">Data:</label>-->
                        <div class='input-group date' id='copulationDate'>
                            <div class="col-sm-4">
                            <input type='hidden'  th:field="*{copulationDate}" class="form-control" />
                            <!--<span class="input-group-addon">-->
                        <span class="glyphicon glyphicon-calendar"></span>
                    <!--</span>-->
                        </div>
                    </div>
                </div>

                    </div>


                </div>





            <div class="row">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="femaleNumber">Nr samicy:</label>
                        <input type="text" class="form-control" th:field="*{femaleNumber}" placeholder=""
                               id="femaleNumber"/>
                        <div class="errors" th:if="${#fields.hasErrors('femaleNumber')}" th:errors="*{femaleNumber}">
                            Title
                            error message
                        </div>

                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="maleNumber">Nr samca:</label>
                        <input type="text" class="form-control" th:field="*{maleNumber}" placeholder=""
                               id="maleNumber"/>
                        <div class="errors" th:if="${#fields.hasErrors('maleNumber')}" th:errors="*{maleNumber}">Title
                            error message
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-4">

                </div>

                <div class="col-sm-4">
                    <button type="submit" class="btn btn-success btn-block">ZAPISZ</button>
                </div>


            </div>

        <script type="text/javascript">
            $(function () {
                $('#copulationDate').datepicker({
                    format: 'yyyy-mm-dd',
                    autoclose : true,
                    todayBtn : 'linked',
                    todayHighlight : true,
                    defaultDate:'now'

                });

            });
        </script>

    </form>




</div>
</body>
</html>