<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Dziennik</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </meta>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <link href="../static/css/style.css" th:href="@{../css/style.css}" rel="stylesheet" />


</head>
<body>

<div class="container bg-overlay">

    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
        <p class="h1">DZIENNIK HODOWLI</p>


            <div class="errors" th:if="${param.error}">
                <div class="alert alert-danger">
                    Nieprawidłowy użytkownik lub hasło
                </div>
            </div>

            <div th:if="${param.logout}">
                <div class="alert alert-info">
                    Zostałeś wylogowany
                </div>
            </div>

            <form th:action="@{/login}" method="post">

                <label for="username"> Użytkownik :</label>
                <input id="username" type="text" name="username" class="form-control"  />
                <br/>

                <label for="password"> Hasło :</label>
                <input id="password" type="password" name="password" class="form-control" />

                <br/>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Zaloguj</button>
            </form>


        <!--</div>-->
    </h1>
</div>
</div>
</body>
</html>